@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: Roboto Slab;
    background-color: #000000;
}

/* NAVBAR */

.navbar {
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 0px;
    z-index: 1;
    /* SHADOW */
    -webkit-box-shadow: 0px 0px 2px 0px #000000;
    -moz-box-shadow: 0px 0px 2px 0px #000000;
    box-shadow: 0px 0px 2px 0px #000000;
    /* TRANSPARENCY */
    background-color: rgba(1, 1, 1, 0.7);
    color: rgba(1, 1, 1, 0.7);
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-link {
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-right: 0;
}

.nav-link:hover{
    color: #409fff;
    transition: 0.5s;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    text-decoration: none;
    color: #fff;
}
.sublogo {
    color: #409FFF;
    margin-top: -12px;
    padding-left: 45px;
    font-size: 11px;
    font-weight: 100;
    text-align: left;
    letter-spacing: 5px;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu a:hover {
    background-color: #88888858;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 10px 12px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.fa {
    font-size: 30px;
    color:#fff;
}


/* TOGGLE */

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

/* HEADER DIV */

h1 {
    font-size: 80px;
    font-family: Oswald;
    letter-spacing: 3px;
    line-height: 80px;
    font-weight: 500;
    word-wrap: break-word;
}

h2 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 30px;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: border-box;
}

.welcome{
    color:#409FFF;
    font-weight: 800;
}

/* SCROLL DOWN ARROW */

.fa-angle-double-down {
    vertical-align: 8%;
} 

.fa-angle-double-down:hover{
    color: #409FFF;
}

.fa {
    font-size: 30px;
    color:#fff;
}

    /* SECTION 1 WRAPPER */

#wrapper1 {
    font-family: Roboto Slab;
    padding: 0;
    margin: 0;
    color: white;
    position: center;
    background: url('https://th.bing.com/th/id/R.a1dc3bf797de91fd9a97bd398a30b0e5?rik=%2f8Y0eZTdgB7p1w&riu=http%3a%2f%2fwww.publicdomainpictures.net%2fpictures%2f190000%2fvelka%2fblack-background-1468370534d5s.jpg&ehk=eA4xvYoBRxONq7xR5ZHrfYPCHj3xXDirdaxRntUp3RI%3d&risl=&pid=ImgRaw&r=0');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

#wrapper1 a {
    font-size: 45px;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#wrapper1 a:hover {
    font-size: 50px;
    color:#409FFF;
}

/* ABOUT ME WRAPPER */

#aboutme {
    margin-top: 5px;
    margin-bottom: 100px;
    background: black;
    color: white;
    margin-left: 75px;
    margin-right: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.about_title{
    font-size: 35px;
    display: grid;
    text-align: center;
}

.about_box{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about_text{
    display: grid;
    width: 50%;
}

.about_img{
    width: 50%;
}

/* HEADSHOT */

.img-round {
    border-radius: 100%;
    height: 300px;
    width: 300px;
    margin-left: 70px;
}

/* INTRO SECTION––––––––––––––––––––––––––––––––––––––––––– */

.intro {
    background: #000000;
    padding: 100px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* ---TIMELINE---- */

.timel {
    font-size: 2.5rem;
    color: #f9fafb;
    font-family: Roboto Slab;
}

.timeline ul {
    background: #000000;
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #f9fafb;
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    color:#fff;
    background: #409FFF;
}

.timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #409FFF transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #409FFF;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

/* EFFECTS–––––––––––––––– */

.timeline ul li::after {
    transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #409FFF;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

/* EXTRA/CLIP PATH STYLES ––––––––––––––––––––– */

.timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
}

.timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
    bottom: 12px;
}

.timeline-star ul li::after {
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
        );
}

.timeline-heptagon ul li::after {
    clip-path: polygon(
        50% 0%,
        90% 20%,
        100% 60%,
        75% 100%,
        25% 100%,
        0% 60%,
        10% 20%
    );
}

.timeline-infinite ul li::after {
    animation: scaleAnimation 7s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.25);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}

/*-----------CONTACT FORM------*/

.main-content {
    margin-top: 100px;
    background: black;
    color: white;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 16px;
}

textarea {
    height: 200px;
}

input[type="checkbox"] + label {
    font-size: 16px;
}

input[type="submit"] {
    background: rgba(64, 159, 255, 1);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background: #260484;
}

#success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: rgba(64, 159, 255, 1);
    padding: 20px;
    color: white;
    font-size: 16px;
    display: none;
}

/* FOOTER DIV */

#footer {
    background: #ffffff;
    color: #55606A;
    padding-top: 50px;
    padding-bottom: 35px;
    text-align: center;
}

/* SCROLL DOWN BUTTON */

.btn-circle {
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 100%;
}

.btn-circle:hover {
    background: rgba(255,255,255,0.1);
}

/* SOCIAL ICONS */

.icons-btn {
    text-align: center;
    font-size: 80px;
    letter-spacing: 50px;
    text-indent: 30px;
    
}

a .social {
    color: #55606A;
    font-size: 30px;
    margin-right: 10px;
}

.social:hover {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

i.fa-brands.fa-facebook-f.social:hover {
    color: #3b5998;
}

i.fa-brands.fa-twitter.social:hover{
    color: #48c4d2;
}

i.fa-brands.fa-instagram.social:hover{
    color: #fb913f;
}

.fa-envelope:hover{
    color: red;
}

i.fa-brands.fa-linkedin-in.social:hover{
    color: rgb(42, 42, 232);
}

.fa-phone:hover{
    color: rgb(144, 241, 144);
}

.copyright{
    margin-top: 20px;
}

#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.star {
    position: absolute;
    background-color: #ffffff;
    width: 2px;
    height: 2px;
    border-radius: 50%;
}

@keyframes twinkling {
    0% { opacity: 1; }
    50% { opacity: 0.8; }
    100% { opacity: 1; }
}

/* MOBILE */

@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }

    .header {
        height: 60px;
    }

    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    
    .sublogo{
        padding-left: 25px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: rgba(1, 1, 1, 0.7);
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0; 
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-item {
        line-height: 70px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #83c5f7;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }

    .about_box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    
    .about_text {
        width: 80%;
        max-width: 100%;
    }

    .about_img img{
        height: 200px;
        width: 200px;
    }

    .img-round {
        margin-left: 0;
    }
    
    .about_img {
        width: auto;
        padding: -20px;
        font-size: 0.9em;
        margin-bottom: 40px;
    }

    .about_text{
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }
    
    #aboutme{
        margin: 0 auto;
    }

    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: calc(100vw - 91px);
    }

    .timeline ul li:nth-child(even) div {
        left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #409FFF transparent transparent;
    }

    .main-content{
        width: auto;
    }
}


